<div *ngIf="searchResult" class="columns is-mobile is-multiline is-centered">
  <div *ngFor="let res of (searchResult | async)" class="column is-narrow">
    <div class="card">
      <div class="card-content">
        <div class="content">
          <figure class="image is-128x128 has-text-centered">
            <img src="https://image.flaticon.com/icons/svg/148/148952.svg">
          </figure>
          <h5 class="title is-4 has-text-centered">{{res.name}}</h5>
          <h6 class="subtitle is-6 has-text-centered">{{res.type}}</h6>
        </div>
        <div class="card-footer">
          <div class="card-footer-item">
            <p>added date - {{res.added}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-content-items></app-content-items>